/** @format */
:root {
	font-family: "Vampiro One", system-ui;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;

	--main-red: #ed3b44;
	--main-white: #fafafa;
	--backround: #682555;
	--cards-black: #242527;
	--arrow-gray: #3b3b3b;

	color: var(--main-white);
	background-color: var(--backround);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

body {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.image {
	width: 400px;
	height: 400px;
}
