/** @format */
:root {
	font-family: "Vampiro One", system-ui;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;

	--main-red: #ed3b44;
	--main-white: #fafafa;

	--cards-black: #242527;
	--arrow-gray: #3b3b3b;

	color: var(--main-white);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	max-height: 100hv;
	width: 100%;
	height: 100%;
	margin: 0;
	background: linear-gradient(0.25turn, violet, 10%, blue);
	background-size: 50% 100%;
	animation: bgAnimatedGradient 2s infinite linear;
}

.content {
	max-width: 375px;
	min-width: 320px;
	margin: 0 auto;
}

.image {
	display: block;
	max-width: 100%;
	height: auto;

	opacity: 0.89;
}

.main-part {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1,
h2 {
	align-items: center;
	justify-content: center;
	text-align: center;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.swiper {
	padding-top: 30px;
	width: 300px;
	height: 200px;
	.swiper-slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 10px;
		font-size: 24px;
		text-shadow: 5px 5px #558abb;
		list-style: none;
	}
}
.swiper-wrapper a {
	text-decoration: none;
}

.swiper-slide:hover,
.swiper-slide:focus {
	text-shadow: 5px 5px violet;
}

.swiper-image {
	border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	color: #3e2b2b;
	font-size: 10px;
}

.swiper-pagination {
	background: rgba(0, 0, 0, 0.25, transparent);
	position: absolute;
	bottom: 10px;
	left: 50%;
	width: 20px;
	height: 20px;

	transform: translateX(-50%);
}

.swiper-pagination-bullet-active {
	width: 20px;
	height: 20px;
	line-height: 14px;
	background-color: #558abb;
}

@keyframes bgAnimatedGradient {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 100% 0;
	}
}

@media screen and (min-width: 786px) {
	.content {
		max-width: 786px;
	}
	.image {
		width: 400px;
		height: 400px;
	}

	.swiper {
		width: 400px;
		height: 300px;
		.swiper-slide {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-size: 24px;
			text-shadow: 5px 5px #558abb;
			list-style: none;
		}
	}
}

@media screen and (min-width: 1440px) {
	.content {
		max-width: 1440px;
	}

	.image {
		width: 400px;
		height: 400px;
	}

	.swiper {
		width: 400px;
		height: 300px;
		.swiper-slide {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-size: 24px;
			text-shadow: 5px 5px #558abb;
			list-style: none;
		}
	}
}
